In [3]:
import pandas as pd
import numpy as np

In [2]:
games = ['cri','football']

In [4]:
pd.DataFrame(games)

          0
0       cri
1  football

In [43]:
games.append('tennis')

In [44]:
games

['cri', 'football', 'tennis']

In [45]:
pd.get_dummies(games,)

     cri  football  tennis
0   True     False   False
1  False      True   False
2  False     False    True

In [1]:
import numpy
numpy.version.version

'1.21.6'